/* Fonts */
@font-face {
  font-family: 'playfair_displayregular';
  src: url("../fonts/playfairdisplay-variablefont_wght-webfont.woff2") format("woff2"), url("../fonts/playfairdisplay-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* Global styling */
/* Font-size */
/* Color */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'playfair_displayregular';
  font-size: 1.6rem; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* Utility classes */
.container {
  max-width: 100rem;
  margin: 0 auto; }

.section {
  padding: 5rem 2rem 2rem; }

/* Header */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  min-height: 6vh; }
.header__logo {
  width: 15rem;
  font-family: 'hanalei'; }

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 2rem; }

.nav__link {
  text-transform: uppercase;
  color: #7a7a7a;
  font-weight: bold;
  transition: color 0.4s; }
  .nav__link:hover {
    color: #000; }

/* Section info */
.info__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 80rem; }

.info__title {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase; }

.info__description {
  color: #7a7a7a;
  font-size: 1.8rem;
  border-bottom: 2px solid #7a7a7a;
  padding-bottom: 5rem;
  line-height: 1.6; }

/* Section recipes */
.recipes__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  gap: 5rem; }

.recipes__title {
  font-size: 3.6rem;
  text-align: center;
  text-transform: uppercase; }

.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(30rem, 1fr));
  gap: 3rem 2rem; }

.card {
  position: relative;
  max-width: 50rem;
  max-height: 50rem;
  cursor: pointer; }
  .card__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
    font-size: 2.4rem;
    color: #fff;
    line-height: 1.8;
    visibility: hidden;
    opacity: 0;
    transition: all 1s; }
  .card__img {
    transition: filter 0.4s; }
  .card:hover .card__img {
    filter: brightness(0.5); }
  .card:hover .card__title {
    visibility: visible;
    opacity: 1; }

/* Footer */
.footer {
  margin: 8rem auto; }
  .footer__content {
    display: flex;
    justify-content: center;
    gap: 1rem; }
  .footer__link {
    color: #7a7a7a; }
    .footer__link:hover {
      color: #000; }

/* Queries */
@media screen and (max-width: 68em) {
  html {
    font-size: 55%; } }
@media screen and (max-width: 50em) {
  .card {
    max-height: 35rem; } }
@media screen and (max-width: 37em) {
  html {
    font-size: 50%; }

  .header__container {
    flex-direction: column;
    gap: 3rem; }

  .header__link {
    padding-top: 3rem; }

  .cards {
    grid-template-columns: 1fr; }

  .card {
    width: 40rem;
    justify-self: center; } }
@media screen and (max-width: 25em) {
  .card {
    width: 35rem; } }

/*# sourceMappingURL=main.css.map */
